{% extends 'MySite/template.html' %}

{% block content %}
    <main class="container">
            <div class="jumbotron text-center">
            <div class="pb-md-4 text-center">
                <h1>О проекте</h1>
            </div>
            <p class="lead text-muted">
                Тема проекта: "Создание мобильного портала учебной литературы для IT-специальностей"
            </p>
            <p class="lead text-muted">Проект разработан Коньюковым Михаилом, студентом Московского
                Авиационного Института(МАИ), группы 8-3ИНТ-4ДБ-035-15, под научным руководством Чумаковой
                Екатерины Витальевны, доцента, кандидата физико-математических наук</p>
            <p class="lead text-muted">
                Проект предоставляет людям, которые хотят изучить "мир" программирования, узко специализированную
                библиотеку по IT-сфере, а так же позволяет преподавателям, программистам, специалистам в IT-сфере
                выкладывать свои материалы для обучения нового поколения программистов, специалистов в IT-сфере
            </p>
        </div>
    </main>
{% endblock %}