{% extends 'MySite/template.html' %}

{% block content %}
    <main class="container">
        <form method="post" action="{% url 'addBook' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="id_title_book">
                Введите название книги:
            </label>
            {{ book.title_book }}
            <p>
                Добавьте обложку(необязательно)
            </p>
            {{ book.icon_book }}
            <h6 class="mt-3">Добавьте ваш html-файл</h6>
            {{ form.file }}
            <button class="btn btn-primary btn-lg btn-block mt-3 col-md-3" type="submit">Добавить книгу</button>
        </form>
    </main>
{% endblock %}