{% extends 'MySite/template.html' %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md-10">
                <a></a>
            </div>
            <div class="d-block text-right mt-3 order-md-2">
                <a class="btn-block btn btn-primary" href="{% url 'addBook' %}">Добавить книгу</a>
            </div>
        </div>
        {#    <nav class="nav nav-underline">#}
        {#        <a class="nav-link active" href="#">Dashboard</a>#}
        {#    </nav>#}
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Книги, которые вы можете прочитать:</h6>
            {% for book in args.books %}
                <div class="media text-muted pt-3">
                    <a href="{% url 'readBook' book.id %}">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <strong class="d-block text-gray-dark">{{ book.title_book }}</strong>
                            <img src="{{ book.icon_book.url }}" width="150" >
                            <strong class="d-block text-gray-dark">{{ book.author }}</strong>
                        </p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}