{% extends 'MySite/template.html' %}

{% block content %}
    {% load staticfiles %}
    <main class="container">
        <div class="jumbotron text-center">
            <div class="pb-md-4 text-center">
                <h1>Помощь</h1>
            </div>
            <div class="text-left">
                <ul>
                    <a href="#p1"><li>Доступ к порталу</li></a>
                    <a href="#p2"><li>Чтение книг</li></a>
                    <a href="#p3"><li>Добавление книг</li></a>
                    <a href="#p4"><li>Прохождение тестов</li></a>
                    <a href="#p5"><li>Добавление тестов</li></a>
                    <a href="#p6"><li>Информация "о проекте"</li></a>
                    <a href="#p7"><li>Информация "помощь"</li></a>
                </ul>
            </div>
            <div style="margin-bottom: 100px"id="p1"></div>
            <p class="lead text-muted">
                Для доступа к порталу авторизируйтесь:
            </p>
            <div class="text-left">
                <ol>
                    <li>На главной странице сайта нажмите на кнопку "войти"</li>
                    <li>Если вы уже регистрировались, то введите свой логин и пароль
                        <img src="{% static "MySite/images/enter.jpg" %}" width="70%">
                    </li>
                    <li>
                        Если вы не зарегистрированны, то нажмите на сслыку "регистрация"
                        <ol>
                            <img src="{% static "MySite/images/registr.jpg" %}" width="70%">
                            <li>Введите запрашиваемые данные о себе</li>
                            <li>Нажмите на кнопку зарегистрироваться</li>
                        </ol>
                    </li>
                </ol>
            </div>
            <div style="margin-bottom: 100px"id="p2"></div>
            <p class="lead text-muted">
                Вы можете читать книги:
            </p>
            <div class="text-left">
                <ol>
                    <li>На главной странице сайта нажмите на кнопку "Книги"</li>
                    <img src="{% static "MySite/images/book.jpg" %}" width="70%">
                    <li>Выберите нужную книгу и нажмите на нее</li>
                    <li>Теперь вы можете читать(текст книги можно прокручить с помощью ходунка справа</li>
                </ol>
            </div>
            <div style="margin-bottom: 100px"id="p3"></div>
            <p class="lead text-muted">
                Вы можете добавлять книги(если у вас есть такие права):
            </p>
            <div class="text-left">
                <ol>
                    <li>На главной странице сайта нажмите на кнопку "Книги"</li>
                    <li>Найдите кнопку "добавить книгу"</li>
                    <img src="{% static "MySite/images/addbook.jpg" %}" width="70%">
                    <ol>
                        <li>Введите название книги(обязательно)</li>
                        <li>Загрузите обложку книги(необязательно)</li>
                        <li>Загрузите книгу в формате html(обязательно)</li>
                        <li>Загрузите ресурсы к файлу html(не обязательно)</li>
                    </ol>

                </ol>
            </div>
            <div style="margin-bottom: 100px"id="p4"></div>
            <p class="lead text-muted">
                Вы можете проходить тесты(вопрос с определенным набором ответов, где вы выбираете правильный ответ):
            </p>
            <div class="text-left">
                <ol>
                    <li>На главной странице сайта нажмите на кнопку "Тесты"</li>
                    <img src="{% static "MySite/images/test.jpg" %}" width="70%">
                    <li>Выберите нужный тест</li>
                    <li>Отмечайте верные на ваш взгляд ответы</li>
                    <li>Нажите на кнопку "проверить"</li>
                    <li>Вы перейдете на страницу с результатами</li>
                </ol>
            </div>
            <div style="margin-bottom: 100px"id="p5"></div>
            <p class="lead text-muted">
                Вы можете добавлять тесты(если у вас есть такие права):
            </p>
            <div class="text-left">
                <ol>
                    <li>На главной странице сайта нажмите на кнопку "Тесты"</li>
                    <li>Найдите кнопку "добавить тест"</li>
                    <img src="{% static "MySite/images/addtest.jpg" %}" width="70%">
                    <ol>
                        <li>Введите название теста(обязательно) и его описание(не обязательно)</li>
                        <li>Записывайте ваши вопросы в форму с надписью "Вопрос"</li>
                        <li>Записывайте ваши ответы в форму "Ответы" так же отмечайте, верные они или нет</li>
                        <ol>
                            <li>Если ответ верен по поставьте "галочку" слева от вопроса</li>
                            <li>Если ответ не верен то ничего не ставьте</li>
                        </ol>
                        <li>При необходимости вы можете добавлять количество ответов при помощи кнопки "Добавить
                            ответ"
                        </li>
                        <li>При необходимости вы можете добавлять количество вопросов при помощи кнопки "Добавить
                            вопрос"
                        </li>
                    </ol>

                </ol>
            </div>
            <div style="margin-bottom: 100px"id="p6"></div>
            <p class="lead text-muted">Вы можете прочитать "о проекте"</p>

            <p>На главной страниче нажмите на кнопку "О проекте"</p>
            <div style="margin-bottom: 100px"id="p7"></div>
            <p class="lead text-muted">Вы можете прочитать "помощь"</p>
            <p>На главной страниче нажмите на кнопку "помощь"</p>
        </div>
    </main>
{% endblock %}
