{% extends 'MySite/template.html' %}

{% block content %}
    <main role="main" class="container">
        <div class="jumbotron text-center">
            <div class="pb-md-4 text-center">
                <h1>Добро Пожаловать!</h1>
            </div>
            <p class="lead text-muted">Здесь вы найдете литературу для IT-специальностей, а так же сможете пройти тесты,
                чтобы определить ваш уровень знаний</p>
            {% if args.username.is_superuser %}
                <div class="row" style="width: 100%">
                    <a class="btn btn-lg btn-primary mr-3" href="/admin" role="button">Войти в админ.панель</a>
                    <a class="btn btn-lg btn-secondary mr-3" role="button" href="{% url 'backup' %}">Сделать рез. копию</a>
                    <a class="btn btn-lg btn-secondary" role="button" href="{% url 'restore' %}">Восстановить из последней резю копии</a>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}