{% extends 'MySite/template.html' %}

{% block content %}
    <main role="main" class="container">
        <div class="jumbotron text-center">
            <div class="pb-md-4 text-center">
                <h1>Добро Пожаловать!</h1>
            </div>
            <p class="lead text-muted">Здесь вы найдете литературу для IT-специальностей, а так же сможете пройти тесты,
                чтобы определить ваш уровень знаний</p>
            {% if args.username.is_superuser %}
                <a class="btn btn-lg btn-primary" href="/admin" role="button">Войти в админ.панель</a>
            {% endif %}
        </div>
    </main>
{% endblock %}