{% extends 'MySite/template.html' %}

{% block content %}
    <main class="bd-content pl-5 pr-5">
        <div class="row">
            <div class="col-md-3">
                <a class="btn-block btn btn-primary" href="{% url 'getBooks' %}">Все книги</a>
            </div>
            <div class="col-md-2">
                <p class="text-right mt-1 lead">Найти книгу:</p>
            </div>
            <form method="post" action="{% url 'findBook' %}" class="col-md-5">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="find_book" id="id_find_book" required="True">
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary" type="submit">Найти</button>
                    </div>
                </div>
            </form>
            <div class="d-block text-right order-md-2">
                <a class="btn-block btn btn-primary" href="{% url 'addBook' %}">Добавить книгу</a>
            </div>
        </div>
        {#    <nav class="nav nav-underline">#}
        {#        <a class="nav-link active" href="#">Dashboard</a>#}
        {#    </nav>#}
        <h2 class="">Книги, добавленные Вами:</h2>
        <div class="row">
            {% for book in args.books %}
                <div class="col-md-3 col-xl-3 col-sm-3 mb-3">
                    <a href="{% url 'readBook' book.id %}">
                        <strong class="d-block text-gray-dark">{{ book.title_book }}</strong>
                        <img src="{{ book.icon_book.url }}" width="150" height="200">
                    </a>
                    <p class="text-muted">{{ book.author }}</p>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}